body {
    font-family: var(--titulo-normal-fonte);
    font-size: 1.3em;
    letter-spacing: .037em;

    background-color: #f3f0f0;

    line-height: 1.45;
}

.c-body {
    color: var(--titulo-normal-cor);
    border: 8px solid #ff9d94;

    min-height: 100vh;
}

.wrapper {
    width: 70%;
    margin: 2.5rem auto;
}