.cabecalho {
    display: flex;
    align-items: flex-end;
}
.cabecalho--logo {
    display: block;

    background: #1d314c;
    color:#f3f0f0;

    padding: 0.5em;
    letter-spacing: 1px;
    margin-right: 1em;
}

.menu {
    width: auto;
    position: static;
    display: block;

    margin-left: 0;
    margin-bottom: 0.55em;
    padding: 0;
    box-shadow: none;
}

.menu--link {
    text-decoration: none;

    font-size: 1.1em;
    font-family: inherit;
    font-weight: 700;
    color: var(--titulo-destaque-fonte);

    margin: 0 .65rem;
}

.navegacao {
    border-bottom: 2.5px solid #FF6F61;
}

.icone {
    margin-bottom: 13px;
    margin-right: 10px;

    text-decoration: none;
}